<div class="drag-drop-container">

  <div class="pending">

    <h3>Lessons To Watch:</h3>

    <div class="lessons-list drag-drop-list" cdkDropList (cdkDropListDropped)="drop($event)">

      <div class="lesson" *ngFor="let lesson of lessons" cdkDrag>

        <!-- <mat-card> -->

        <div class="drop-placeholder" *cdkDropListPlaceholder></div>


        {{ lesson.description }}


        {{ lesson.duration }}


        <!-- </mat-card> -->

      </div>

    </div>

    <!-- div class="done">

    <h3>Done:</h3>

  </div-->

  </div>
