<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/" >
        <mat-icon matListIcon>library_books</mat-icon>
        <span matLine>Courses</span>
      </a>
      <a mat-list-item routerLink="about">
        <mat-icon matListIcon>question_answer</mat-icon>
        <span matLine>About</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon matListIcon>person_add</mat-icon>
        <span matLine>Register</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon matListIcon>account_circle</mat-icon>
        <span matLine>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Material In Depth</span>
  </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
