
<div class="courses-panel">

  <div class="header">

    <h2 class="title">All Courses</h2>

    <button mat-mini-fab routerLink="/add-new-course">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>

  </div>
  <!-- 8. Angular Material Tab Groups -->
  <mat-tab-group>

    <mat-tab label="Beginner">
      <div class="courses-container">
        <mat-card class="course-card">
          <mat-card-header>
            <mat-card-title>Angular Material</mat-card-title>
            <mat-card-subtitle>Angular Material In Depth</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://angular-academy.s3.amazonaws.com/thumbnails/angular-material-in-depth-small-v2.png" alt="Angular Material">
          <mat-card-content>
            <p>
              Learn all about the Angular Material library, including the new Angular Material 2.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Advanced">
      <div class="courses-container">
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

