<div class="course">

  <h2>{{course?.description}}</h2>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl">
  <!-- 22. Angular Material Loading Indicator -->
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>

  </div>


<!-- 19. Angular Material Data Table - Complete Example With Simplified DataSource -->

  <table mat-table class="lessons-table mat-elevation-z8"
    matSort matSortDisableClear matSortActive="seqNo" matSortDirection="asc"
    [dataSource]="lessons" multiTemplateDataRows>

    <ng-container matColumnDef="seqNo">

      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>

      <td mat-cell *matCellDef="let lesson"> {{lesson.seqNo}} </td>

    </ng-container>

    <ng-container matColumnDef="description">

      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>

      <td mat-cell *matCellDef="let lesson"> {{lesson.description}} </td>

    </ng-container>

    <ng-container matColumnDef="duration">

      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>

      <td class="duration-cell" mat-cell *matCellDef="let lesson"> {{lesson.duration}} </td>

    </ng-container>

    <ng-container matColumnDef="expandedDetail">

        <td mat-cell *matCellDef="let lesson" [attr.colspan]="displayedColumns.length">

          <div class="lesson-detail">

            <p>{{lesson.longDescription}}</p>

          </div>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row
    (click)="onRowClicked(lesson)"
    *matRowDef="let lesson; columns: displayedColumns;"></tr>
    <!-- 25. Angular Material Data Table - Multi-Template Data Rows and Expandable Rows -->

    <tr mat-row *matRowDef="let lesson; columns: ['expandedDetail']"
    [class.collapsed-detail]="lesson != expandedElement"></tr>

  </table>
  <!-- 23. Angular Material Data Table Paginator -->
  <mat-paginator
      class="mat-elevation-z8"
      [length]="course?.lessonsCount"
      [pageSize]="3"
      [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>


  </div>
