<div class="container">

  <div class="virtual-scrolling">

    <h3>Virtual Scrolling Demo</h3>
    <!-- 41. Angular Material Virtual Scrolling -->
    <mat-list class="scrolling-container mat-elevation-z7">
      <cdk-virtual-scroll-viewport itemSize="50" class="scrolling-container">

        <mat-list-item *cdkVirtualFor="let item of items; let index = index;
          let first = first;
          let last = last;
          let even = even;
          let odd = odd;
          let count = count;
          let countBefore = countBefore;
          let countAfter = countAfter;
        ">

          {{item}}

        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>

  </div>

</div>
